[credential]
	helper = osxkeychain
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Timmy Garrabrant
	email = timmy.garrabrant@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[push]
	autoSetupRemote = true
[maintenance]
	repo = {{ .chezmoi.homeDir }}/Developer/web
	repo = {{ .chezmoi.homeDir }}/Developer/zenpayroll
[commit]
	gpgsign = true
[gpg]
	format = ssh
